/* styles.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
}
.container {
    width: 80%;
    margin-top: 20px;
}
.top-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.form-section, .list-section {
    width: 48%;
}
.field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.btn {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 12px;
}
.btn-create {
    background-color: #3498db;
}
.list-section {
    padding-left: 20px;
    border-left: 1px solid #ddd;
}
.list-section h3, .form-section h3 {
    margin-top: 0;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.details-section {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: skyblue;
    display: none;
}
.details-section h3 {
    margin-top: 0;
}
.btn-edit{
    color: black;
}

.btn-delete{
    background-color: rosybrown;
    color: black;
}
